{% extends 'base.html' %}

{% block title %}
 About 
{% endblock %}

{% block content %}
 <h1 class="text-center">About City Hospital </h1>
 <p>Our hospital webpage is designed with your convenience and comfort in mind. As you navigate through our site, you'll discover a wealth of information and resources aimed at enhancing your healthcare experience.

    At the forefront of our webpage is a user-friendly interface, carefully crafted to provide easy access to essential features. From scheduling appointments and accessing medical records to learning about our range of services and specialties, everything you need is just a click away.
    
    Explore our comprehensive directory of medical departments and specialties to find the right care for your needs. Whether you're seeking treatment in cardiology, oncology, pediatrics, or any other area, our team of expert physicians and healthcare professionals is here to provide compassionate and personalized care.
    
    Stay informed about the latest news and updates from our hospital, including upcoming events, health education programs, and community initiatives. Our blog features informative articles written by our healthcare experts, covering a wide range of topics to help you lead a healthier life.
    
    For patients and visitors, we offer practical information about hospital amenities, visiting hours, parking, and accommodation options. Our goal is to ensure that your experience with us is as seamless and stress-free as possible.
    
    We understand that navigating the healthcare system can sometimes be overwhelming. That's why our webpage includes resources to guide you through the process, from understanding insurance coverage and financial assistance options to preparing for surgery and recovery.
    
    At [Hospital Name], your health and well-being are our top priorities. We invite you to explore our webpage and discover all that our hospital has to offer. Thank you for choosing us for your healthcare needs.</p>
{% endblock %}